// <copyright file="ChargingController.cs" company="APIMatic">
// TeslaFleetManagementApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TeslaFleetManagementApi.Standard.Http.Response;

namespace TeslaFleetManagementApi.Standard.Controllers
{
    /// <summary>
    /// ChargingController.
    /// </summary>
    public class ChargingController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="ChargingController"/> class.
        /// </summary>
        internal ChargingController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Returns the paginated charging history for the authenticated account.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.ChargingHistoryResponse response from the API call.</returns>
        public ApiResponse<Models.ChargingHistoryResponse> GetChargingHistory()
            => CoreHelper.RunTask(GetChargingHistoryAsync());

        /// <summary>
        /// Returns the paginated charging history for the authenticated account.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ChargingHistoryResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ChargingHistoryResponse>> GetChargingHistoryAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ChargingHistoryResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/dx/charging/history")
                  .WithAuth("thirdpartytoken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a charging invoice PDF for a charging session.
        /// </summary>
        /// <param name="id">Required parameter: Charging session invoice identifier.</param>
        /// <returns>Returns the ApiResponse of dynamic response from the API call.</returns>
        public ApiResponse<dynamic> GetChargingInvoice(
                string id)
            => CoreHelper.RunTask(GetChargingInvoiceAsync(id));

        /// <summary>
        /// Returns a charging invoice PDF for a charging session.
        /// </summary>
        /// <param name="id">Required parameter: Charging session invoice identifier.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of dynamic response from the API call.</returns>
        public async Task<ApiResponse<dynamic>> GetChargingInvoiceAsync(
                string id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<dynamic>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/dx/charging/invoice/{id}")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("id", id).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns charging session information. Only available for business fleet owners.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.ChargingSessionsResponse response from the API call.</returns>
        public ApiResponse<Models.ChargingSessionsResponse> GetChargingSessions()
            => CoreHelper.RunTask(GetChargingSessionsAsync());

        /// <summary>
        /// Returns charging session information. Only available for business fleet owners.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ChargingSessionsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ChargingSessionsResponse>> GetChargingSessionsAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ChargingSessionsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/dx/charging/sessions")
                  .WithAuth("thirdpartytoken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}