// <copyright file="EnergyController.cs" company="APIMatic">
// TeslaFleetManagementApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TeslaFleetManagementApi.Standard.Http.Response;

namespace TeslaFleetManagementApi.Standard.Controllers
{
    /// <summary>
    /// EnergyController.
    /// </summary>
    public class EnergyController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="EnergyController"/> class.
        /// </summary>
        internal EnergyController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// adjustSiteSBackupReserve EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.BackupResponse response from the API call.</returns>
        public ApiResponse<Models.BackupResponse> AdjustSiteSBackupReserve(
                string energySiteId,
                Models.BackupRequest body)
            => CoreHelper.RunTask(AdjustSiteSBackupReserveAsync(energySiteId, body));

        /// <summary>
        /// adjustSiteSBackupReserve EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BackupResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BackupResponse>> AdjustSiteSBackupReserveAsync(
                string energySiteId,
                Models.BackupRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BackupResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/energy_sites/{energy_site_id}/backup")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getBackupOrEnergyHistory EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="kind">Required parameter: Example: .</param>
        /// <param name="startDate">Required parameter: .</param>
        /// <param name="endDate">Required parameter: .</param>
        /// <param name="period">Optional parameter: .</param>
        /// <param name="timeZone">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.CalendarHistoryResponse response from the API call.</returns>
        public ApiResponse<Models.CalendarHistoryResponse> GetBackupOrEnergyHistory(
                string energySiteId,
                Models.Kind kind,
                DateTime startDate,
                DateTime endDate,
                string period = null,
                string timeZone = null)
            => CoreHelper.RunTask(GetBackupOrEnergyHistoryAsync(energySiteId, kind, startDate, endDate, period, timeZone));

        /// <summary>
        /// getBackupOrEnergyHistory EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="kind">Required parameter: Example: .</param>
        /// <param name="startDate">Required parameter: .</param>
        /// <param name="endDate">Required parameter: .</param>
        /// <param name="period">Optional parameter: .</param>
        /// <param name="timeZone">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CalendarHistoryResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.CalendarHistoryResponse>> GetBackupOrEnergyHistoryAsync(
                string energySiteId,
                Models.Kind kind,
                DateTime startDate,
                DateTime endDate,
                string period = null,
                string timeZone = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CalendarHistoryResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/energy_sites/{energy_site_id}/calendar_history")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())
                      .Query(query => query.Setup("kind", CoreHelper.JsonSerialize(kind).Trim('\"')))
                      .Query(query => query.Setup("start_date", startDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("end_date", endDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("period", period))
                      .Query(query => query.Setup("time_zone", timeZone))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getWallConnectorChargingHistory EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="kind">Required parameter: Example: .</param>
        /// <param name="startDate">Required parameter: .</param>
        /// <param name="endDate">Required parameter: .</param>
        /// <param name="timeZone">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.ChargeHistoryResponse response from the API call.</returns>
        public ApiResponse<Models.ChargeHistoryResponse> GetWallConnectorChargingHistory(
                string energySiteId,
                Models.KindGetWallConnectorChargingHistory kind,
                DateTime startDate,
                DateTime endDate,
                string timeZone = null)
            => CoreHelper.RunTask(GetWallConnectorChargingHistoryAsync(energySiteId, kind, startDate, endDate, timeZone));

        /// <summary>
        /// getWallConnectorChargingHistory EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="kind">Required parameter: Example: .</param>
        /// <param name="startDate">Required parameter: .</param>
        /// <param name="endDate">Required parameter: .</param>
        /// <param name="timeZone">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ChargeHistoryResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ChargeHistoryResponse>> GetWallConnectorChargingHistoryAsync(
                string energySiteId,
                Models.KindGetWallConnectorChargingHistory kind,
                DateTime startDate,
                DateTime endDate,
                string timeZone = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ChargeHistoryResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/energy_sites/{energy_site_id}/telemetry_history")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())
                      .Query(query => query.Setup("kind", CoreHelper.JsonSerialize(kind).Trim('\"')))
                      .Query(query => query.Setup("start_date", startDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("end_date", endDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss.FFFFFFFK")))
                      .Query(query => query.Setup("time_zone", timeZone))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getLiveSiteStatus EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.LiveStatusResponse response from the API call.</returns>
        public ApiResponse<Models.LiveStatusResponse> GetLiveSiteStatus(
                string energySiteId)
            => CoreHelper.RunTask(GetLiveSiteStatusAsync(energySiteId));

        /// <summary>
        /// getLiveSiteStatus EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.LiveStatusResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.LiveStatusResponse>> GetLiveSiteStatusAsync(
                string energySiteId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.LiveStatusResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/energy_sites/{energy_site_id}/live_status")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// setSiteModeAutonomousOrSelfConsumption EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public ApiResponse<Models.GenericUpdateResponse> SetSiteModeAutonomousOrSelfConsumption(
                string energySiteId,
                Models.OperationRequest body)
            => CoreHelper.RunTask(SetSiteModeAutonomousOrSelfConsumptionAsync(energySiteId, body));

        /// <summary>
        /// setSiteModeAutonomousOrSelfConsumption EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GenericUpdateResponse>> SetSiteModeAutonomousOrSelfConsumptionAsync(
                string energySiteId,
                Models.OperationRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GenericUpdateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/energy_sites/{energy_site_id}/operation")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// allowDisallowChargingFromTheGridAndExportingEnergyToTheGrid EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Optional parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public ApiResponse<Models.GenericUpdateResponse> AllowDisallowChargingFromTheGridAndExportingEnergyToTheGrid(
                string energySiteId,
                object body = null)
            => CoreHelper.RunTask(AllowDisallowChargingFromTheGridAndExportingEnergyToTheGridAsync(energySiteId, body));

        /// <summary>
        /// allowDisallowChargingFromTheGridAndExportingEnergyToTheGrid EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Optional parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GenericUpdateResponse>> AllowDisallowChargingFromTheGridAndExportingEnergyToTheGridAsync(
                string energySiteId,
                object body = null,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GenericUpdateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/energy_sites/{energy_site_id}/grid_import_export")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body))
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// adjustSiteSOffGridVehicleChargingReserve EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public ApiResponse<Models.GenericUpdateResponse> AdjustSiteSOffGridVehicleChargingReserve(
                string energySiteId,
                Models.OffGridVehicleChargingReserveRequest body)
            => CoreHelper.RunTask(AdjustSiteSOffGridVehicleChargingReserveAsync(energySiteId, body));

        /// <summary>
        /// adjustSiteSOffGridVehicleChargingReserve EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GenericUpdateResponse>> AdjustSiteSOffGridVehicleChargingReserveAsync(
                string energySiteId,
                Models.OffGridVehicleChargingReserveRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GenericUpdateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/energy_sites/{energy_site_id}/off_grid_vehicle_charging_reserve")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// updateStormWatchParticipation EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public ApiResponse<Models.GenericUpdateResponse> UpdateStormWatchParticipation(
                string energySiteId,
                Models.StormModeRequest body)
            => CoreHelper.RunTask(UpdateStormWatchParticipationAsync(energySiteId, body));

        /// <summary>
        /// updateStormWatchParticipation EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GenericUpdateResponse>> UpdateStormWatchParticipationAsync(
                string energySiteId,
                Models.StormModeRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GenericUpdateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/energy_sites/{energy_site_id}/storm_mode")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// updateTimeOfUseTouSettings EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public ApiResponse<Models.GenericUpdateResponse> UpdateTimeOfUseTouSettings(
                string energySiteId,
                Models.TimeOfUseSettingsRequest body)
            => CoreHelper.RunTask(UpdateTimeOfUseTouSettingsAsync(energySiteId, body));

        /// <summary>
        /// updateTimeOfUseTouSettings EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.GenericUpdateResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.GenericUpdateResponse>> UpdateTimeOfUseTouSettingsAsync(
                string energySiteId,
                Models.TimeOfUseSettingsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.GenericUpdateResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/energy_sites/{energy_site_id}/time_of_use_settings")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getUserProductsVehiclesEnergySites EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.ProductsResponse response from the API call.</returns>
        public ApiResponse<Models.ProductsResponse> GetUserProductsVehiclesEnergySites()
            => CoreHelper.RunTask(GetUserProductsVehiclesEnergySitesAsync());

        /// <summary>
        /// getUserProductsVehiclesEnergySites EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.ProductsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.ProductsResponse>> GetUserProductsVehiclesEnergySitesAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.ProductsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/products")
                  .WithAuth("thirdpartytoken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getSiteInformationAssetsSettingsFeatures EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public ApiResponse<Models.SiteInfoResponse> GetSiteInformationAssetsSettingsFeatures(
                string energySiteId)
            => CoreHelper.RunTask(GetSiteInformationAssetsSettingsFeaturesAsync(energySiteId));

        /// <summary>
        /// getSiteInformationAssetsSettingsFeatures EndPoint.
        /// </summary>
        /// <param name="energySiteId">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SiteInfoResponse>> GetSiteInformationAssetsSettingsFeaturesAsync(
                string energySiteId,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SiteInfoResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/energy_sites/{energy_site_id}/site_info")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("energy_site_id", energySiteId).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}