// <copyright file="PartnerController.cs" company="APIMatic">
// TeslaFleetManagementApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TeslaFleetManagementApi.Standard.Http.Response;

namespace TeslaFleetManagementApi.Standard.Controllers
{
    /// <summary>
    /// PartnerController.
    /// </summary>
    public class PartnerController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="PartnerController"/> class.
        /// </summary>
        internal PartnerController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// getVinsWithFleetTelemetryErrors EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.BackupResponse response from the API call.</returns>
        public ApiResponse<Models.BackupResponse> GetVinsWithFleetTelemetryErrors()
            => CoreHelper.RunTask(GetVinsWithFleetTelemetryErrorsAsync());

        /// <summary>
        /// getVinsWithFleetTelemetryErrors EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BackupResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BackupResponse>> GetVinsWithFleetTelemetryErrorsAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BackupResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/partner_accounts/fleet_telemetry_error_vins")
                  .WithAuth("thirdpartytoken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getRecentFleetTelemetryErrors EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.FleetTelemetryErrorsResponse response from the API call.</returns>
        public ApiResponse<Models.FleetTelemetryErrorsResponse> GetRecentFleetTelemetryErrors()
            => CoreHelper.RunTask(GetRecentFleetTelemetryErrorsAsync());

        /// <summary>
        /// getRecentFleetTelemetryErrors EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.FleetTelemetryErrorsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.FleetTelemetryErrorsResponse>> GetRecentFleetTelemetryErrorsAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.FleetTelemetryErrorsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/partner_accounts/fleet_telemetry_errors")
                  .WithAuth("thirdpartytoken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getPublicKeyForADomain EndPoint.
        /// </summary>
        /// <param name="domain">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.PublicKeyResponse response from the API call.</returns>
        public ApiResponse<Models.PublicKeyResponse> GetPublicKeyForADomain(
                string domain)
            => CoreHelper.RunTask(GetPublicKeyForADomainAsync(domain));

        /// <summary>
        /// getPublicKeyForADomain EndPoint.
        /// </summary>
        /// <param name="domain">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PublicKeyResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PublicKeyResponse>> GetPublicKeyForADomainAsync(
                string domain,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PublicKeyResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/partner_accounts/public_key")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("domain", domain).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// registerAPartnerAccount EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.RegisterPartnerResponse response from the API call.</returns>
        public ApiResponse<Models.RegisterPartnerResponse> RegisterAPartnerAccount(
                Models.RegisterPartnerRequest body)
            => CoreHelper.RunTask(RegisterAPartnerAccountAsync(body));

        /// <summary>
        /// registerAPartnerAccount EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.RegisterPartnerResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.RegisterPartnerResponse>> RegisterAPartnerAccountAsync(
                Models.RegisterPartnerRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.RegisterPartnerResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/partner_accounts")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}