// <copyright file="UserController.cs" company="APIMatic">
// TeslaFleetManagementApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TeslaFleetManagementApi.Standard.Http.Response;

namespace TeslaFleetManagementApi.Standard.Controllers
{
    /// <summary>
    /// UserController.
    /// </summary>
    public class UserController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="UserController"/> class.
        /// </summary>
        internal UserController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Get custom feature flags for a user EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.BackupResponse response from the API call.</returns>
        public ApiResponse<Models.BackupResponse> GetCustomFeatureFlagsForAUser()
            => CoreHelper.RunTask(GetCustomFeatureFlagsForAUserAsync());

        /// <summary>
        /// Get custom feature flags for a user EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BackupResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BackupResponse>> GetCustomFeatureFlagsForAUserAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BackupResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/users/feature_config")
                  .WithAuth("bearerAuth"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Get summary of a user's account EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.MeResponse response from the API call.</returns>
        public ApiResponse<Models.MeResponse> GetSummaryOfAUserSAccount()
            => CoreHelper.RunTask(GetSummaryOfAUserSAccountAsync());

        /// <summary>
        /// Get summary of a user's account EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.MeResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.MeResponse>> GetSummaryOfAUserSAccountAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.MeResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/users/me")
                  .WithAuth("bearerAuth"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Get active orders for a user EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.OrdersResponse response from the API call.</returns>
        public ApiResponse<Models.OrdersResponse> GetActiveOrdersForAUser()
            => CoreHelper.RunTask(GetActiveOrdersForAUserAsync());

        /// <summary>
        /// Get active orders for a user EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.OrdersResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.OrdersResponse>> GetActiveOrdersForAUserAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.OrdersResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/users/orders")
                  .WithAuth("bearerAuth"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Get user's region and fleet-api base URL EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.RegionResponse response from the API call.</returns>
        public ApiResponse<Models.RegionResponse> GetUserSRegionAndFleetApiBaseUrl()
            => CoreHelper.RunTask(GetUserSRegionAndFleetApiBaseUrlAsync());

        /// <summary>
        /// Get user's region and fleet-api base URL EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.RegionResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.RegionResponse>> GetUserSRegionAndFleetApiBaseUrlAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.RegionResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/users/region")
                  .WithAuth("bearerAuth"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}