// <copyright file="VehiclesController.cs" company="APIMatic">
// TeslaFleetManagementApi.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;
using TeslaFleetManagementApi.Standard.Http.Response;

namespace TeslaFleetManagementApi.Standard.Controllers
{
    /// <summary>
    /// VehiclesController.
    /// </summary>
    public class VehiclesController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="VehiclesController"/> class.
        /// </summary>
        internal VehiclesController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// listVehicles EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesResponse response from the API call.</returns>
        public ApiResponse<Models.Api1VehiclesResponse> ListVehicles()
            => CoreHelper.RunTask(ListVehiclesAsync());

        /// <summary>
        /// listVehicles EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.Api1VehiclesResponse>> ListVehiclesAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Api1VehiclesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/vehicles")
                  .WithAuth("thirdpartytoken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesResponseGetVehicle response from the API call.</returns>
        public ApiResponse<Models.Api1VehiclesResponseGetVehicle> GetVehicle(
                string vehicleTag)
            => CoreHelper.RunTask(GetVehicleAsync(vehicleTag));

        /// <summary>
        /// getVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesResponseGetVehicle response from the API call.</returns>
        public async Task<ApiResponse<Models.Api1VehiclesResponseGetVehicle>> GetVehicleAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Api1VehiclesResponseGetVehicle>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/vehicles/{vehicle_tag}")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// mobileEnabled EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesMobileEnabledResponse response from the API call.</returns>
        public ApiResponse<Models.Api1VehiclesMobileEnabledResponse> MobileEnabled(
                string vehicleTag)
            => CoreHelper.RunTask(MobileEnabledAsync(vehicleTag));

        /// <summary>
        /// mobileEnabled EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesMobileEnabledResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.Api1VehiclesMobileEnabledResponse>> MobileEnabledAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Api1VehiclesMobileEnabledResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/vehicles/{vehicle_tag}/mobile_enabled")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// nearbyChargingSites EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesNearbyChargingSitesResponse response from the API call.</returns>
        public ApiResponse<Models.Api1VehiclesNearbyChargingSitesResponse> NearbyChargingSites(
                string vehicleTag)
            => CoreHelper.RunTask(NearbyChargingSitesAsync(vehicleTag));

        /// <summary>
        /// nearbyChargingSites EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesNearbyChargingSitesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.Api1VehiclesNearbyChargingSitesResponse>> NearbyChargingSitesAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Api1VehiclesNearbyChargingSitesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/vehicles/{vehicle_tag}/nearby_charging_sites")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// vehicleLiveData EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public ApiResponse<Models.SiteInfoResponse> VehicleLiveData(
                string vehicleTag)
            => CoreHelper.RunTask(VehicleLiveDataAsync(vehicleTag));

        /// <summary>
        /// vehicleLiveData EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SiteInfoResponse>> VehicleLiveDataAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SiteInfoResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/vehicles/{vehicle_tag}/vehicle_data")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// wakeUpVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesWakeUpResponse response from the API call.</returns>
        public ApiResponse<Models.Api1VehiclesWakeUpResponse> WakeUpVehicle(
                string vehicleTag)
            => CoreHelper.RunTask(WakeUpVehicleAsync(vehicleTag));

        /// <summary>
        /// wakeUpVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Api1VehiclesWakeUpResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.Api1VehiclesWakeUpResponse>> WakeUpVehicleAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Api1VehiclesWakeUpResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/vehicles/{vehicle_tag}/wake_up")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// vehicleSpecs EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public ApiResponse<Models.SiteInfoResponse> VehicleSpecs(
                string vin)
            => CoreHelper.RunTask(VehicleSpecsAsync(vin));

        /// <summary>
        /// vehicleSpecs EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SiteInfoResponse>> VehicleSpecsAsync(
                string vin,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SiteInfoResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/vehicles/{vin}/specs")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vin", vin).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// vehicleOptions EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.Api1DxVehiclesOptionsResponse response from the API call.</returns>
        public ApiResponse<Models.Api1DxVehiclesOptionsResponse> VehicleOptions(
                string vin)
            => CoreHelper.RunTask(VehicleOptionsAsync(vin));

        /// <summary>
        /// vehicleOptions EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Api1DxVehiclesOptionsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.Api1DxVehiclesOptionsResponse>> VehicleOptionsAsync(
                string vin,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Api1DxVehiclesOptionsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/dx/vehicles/options")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("vin", vin).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// warrantyDetails EndPoint.
        /// </summary>
        /// <returns>Returns the ApiResponse of Models.Api1DxWarrantyDetailsResponse response from the API call.</returns>
        public ApiResponse<Models.Api1DxWarrantyDetailsResponse> WarrantyDetails()
            => CoreHelper.RunTask(WarrantyDetailsAsync());

        /// <summary>
        /// warrantyDetails EndPoint.
        /// </summary>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Api1DxWarrantyDetailsResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.Api1DxWarrantyDetailsResponse>> WarrantyDetailsAsync(CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Api1DxWarrantyDetailsResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/dx/warranty/details")
                  .WithAuth("thirdpartytoken"))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getAllowedDriversForAVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.DriversResponse response from the API call.</returns>
        public ApiResponse<Models.DriversResponse> GetAllowedDriversForAVehicle(
                string vehicleTag)
            => CoreHelper.RunTask(GetAllowedDriversForAVehicleAsync(vehicleTag));

        /// <summary>
        /// getAllowedDriversForAVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.DriversResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.DriversResponse>> GetAllowedDriversForAVehicleAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.DriversResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/vehicles/{vehicle_tag}/drivers")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// removeDriverAccessFromAVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.SimpleOkResponse response from the API call.</returns>
        public ApiResponse<Models.SimpleOkResponse> RemoveDriverAccessFromAVehicle(
                string vehicleTag)
            => CoreHelper.RunTask(RemoveDriverAccessFromAVehicleAsync(vehicleTag));

        /// <summary>
        /// removeDriverAccessFromAVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SimpleOkResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SimpleOkResponse>> RemoveDriverAccessFromAVehicleAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SimpleOkResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/api/1/vehicles/{vehicle_tag}/drivers")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getEligibleVehicleSubscriptions EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public ApiResponse<Models.SiteInfoResponse> GetEligibleVehicleSubscriptions(
                string vin)
            => CoreHelper.RunTask(GetEligibleVehicleSubscriptionsAsync(vin));

        /// <summary>
        /// getEligibleVehicleSubscriptions EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SiteInfoResponse>> GetEligibleVehicleSubscriptionsAsync(
                string vin,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SiteInfoResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/dx/vehicles/subscriptions/eligibility")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("vin", vin).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getEligibleVehicleUpgrades EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public ApiResponse<Models.SiteInfoResponse> GetEligibleVehicleUpgrades(
                string vin)
            => CoreHelper.RunTask(GetEligibleVehicleUpgradesAsync(vin));

        /// <summary>
        /// getEligibleVehicleUpgrades EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SiteInfoResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SiteInfoResponse>> GetEligibleVehicleUpgradesAsync(
                string vin,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SiteInfoResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/dx/vehicles/upgrades/eligibility")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("vin", vin).Required())))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// setEnterprisePayerRoles EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        public void SetEnterprisePayerRoles(
                string vin,
                Models.EnterprisePayerRequest body)
            => CoreHelper.RunVoidTask(SetEnterprisePayerRolesAsync(vin, body));

        /// <summary>
        /// setEnterprisePayerRoles EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task SetEnterprisePayerRolesAsync(
                string vin,
                Models.EnterprisePayerRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/dx/enterprise/v1/{vin}/payer")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Template(template => template.Setup("vin", vin).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getEnterpriseRolesForAVehicle EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> GetEnterpriseRolesForAVehicle(
                string vin)
            => CoreHelper.RunTask(GetEnterpriseRolesForAVehicleAsync(vin));

        /// <summary>
        /// getEnterpriseRolesForAVehicle EndPoint.
        /// </summary>
        /// <param name="vin">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> GetEnterpriseRolesForAVehicleAsync(
                string vin,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/dx/enterprise/v1/{vin}/roles")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vin", vin).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getFleetStatusForVehicles EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> GetFleetStatusForVehicles(
                Models.FleetStatusRequest body)
            => CoreHelper.RunTask(GetFleetStatusForVehiclesAsync(body));

        /// <summary>
        /// getFleetStatusForVehicles EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> GetFleetStatusForVehiclesAsync(
                Models.FleetStatusRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/vehicles/fleet_status")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// createOrUpdateFleetTelemetryConfiguration EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> CreateOrUpdateFleetTelemetryConfiguration(
                object body)
            => CoreHelper.RunTask(CreateOrUpdateFleetTelemetryConfigurationAsync(body));

        /// <summary>
        /// createOrUpdateFleetTelemetryConfiguration EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> CreateOrUpdateFleetTelemetryConfigurationAsync(
                object body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/vehicles/fleet_telemetry_config")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getFleetTelemetryConfiguration EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> GetFleetTelemetryConfiguration(
                string vehicleTag)
            => CoreHelper.RunTask(GetFleetTelemetryConfigurationAsync(vehicleTag));

        /// <summary>
        /// getFleetTelemetryConfiguration EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> GetFleetTelemetryConfigurationAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/vehicles/{vehicle_tag}/fleet_telemetry_config")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// deleteFleetTelemetryConfiguration EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> DeleteFleetTelemetryConfiguration(
                string vehicleTag)
            => CoreHelper.RunTask(DeleteFleetTelemetryConfigurationAsync(vehicleTag));

        /// <summary>
        /// deleteFleetTelemetryConfiguration EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> DeleteFleetTelemetryConfigurationAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/api/1/vehicles/{vehicle_tag}/fleet_telemetry_config")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// configureFleetTelemetryUsingSignedJwsToken EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> ConfigureFleetTelemetryUsingSignedJwsToken(
                Models.FleetTelemetryJwsRequest body)
            => CoreHelper.RunTask(ConfigureFleetTelemetryUsingSignedJwsTokenAsync(body));

        /// <summary>
        /// configureFleetTelemetryUsingSignedJwsToken EndPoint.
        /// </summary>
        /// <param name="body">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> ConfigureFleetTelemetryUsingSignedJwsTokenAsync(
                Models.FleetTelemetryJwsRequest body,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/api/1/vehicles/fleet_telemetry_config_jws")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(body).Required())
                      .Header(header => header.Setup("Content-Type", "application/json"))))
              .ResponseHandler(responseHandler => responseHandler
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// getFleetTelemetryErrorsForAVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public ApiResponse<object> GetFleetTelemetryErrorsForAVehicle(
                string vehicleTag)
            => CoreHelper.RunTask(GetFleetTelemetryErrorsForAVehicleAsync(vehicleTag));

        /// <summary>
        /// getFleetTelemetryErrorsForAVehicle EndPoint.
        /// </summary>
        /// <param name="vehicleTag">Required parameter: .</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of object response from the API call.</returns>
        public async Task<ApiResponse<object>> GetFleetTelemetryErrorsForAVehicleAsync(
                string vehicleTag,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<object>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/api/1/vehicles/{vehicle_tag}/fleet_telemetry_errors")
                  .WithAuth("thirdpartytoken")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("vehicle_tag", vehicleTag).Required())))
              .ResponseHandler(responseHandler => responseHandler
                  .Deserializer(response => response))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}